body{
    --primary-color:#2b99e7;
    --secondary-color:#414b71;
    --shallow-background: rgba(43, 153, 231,0.05);
    --content-y: 70px;
    --content-height:calc(100vh - var(--content-y));
}
* {
    font-family: 'Segoe UI', 'sans-serif', sans-serif;
}
.content-container{
    display: flex;
    position: fixed;
    top: var(--content-y);
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--content-height);
}

.tocbar{
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    height: var(--content-height);
    width: 300px;
    border-right: 2px solid rgba(0,0,0,0.1);
    background: var(--shallow-background);
    z-index: 900;
    overflow-y: auto;
}
.toc-header{
    margin: 0;
    padding: 0 20px 5px;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--primary-color);
    h2{
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: 0.1em;
        color: rgb(0, 0, 0);
    }
}

.toc-item{
    display: block;
    margin: 0;
    padding: 0 0px 10px;
    font-weight: 500;
    font-size: 1.2rem;
}
.toc-subitem{
    display: block;
    margin: 0 20px;
    padding: 0 0 1px 0;
    font-size: 1.1rem;
    font-weight: 400;
}
.toc-link{
    letter-spacing: 0.1em;
    color: rgb(0, 0, 0);
    justify-self: left;
    width: 80%;
    display: block;
    margin: 0 10px;
    padding: 12px 15px;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.2s;
}
.toc-item .toc-link:hover, .toc-item .toc-link.active {
    background: rgba(0, 0, 0, 0.3);
}

.main-content{
    position: relative;
    width: 70vw;
    margin: 0;
    padding: 0 100px 0 50px;
    height: 100%;
    overflow-y: auto;
    display: block;
}
.main-header{
    margin: 20px 0 40px;
    padding: 0 0 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    h1{
        margin: 0 0 10px;
        padding: 0;
        font-size: 2.4rem;
    }
    p{
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
    }

}
.section-main{
    display: block;
    position: relative;
}
.section-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary-color);
    * {
        margin: 0;
    }
}
.section-number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background: var(--primary-color);
    color: white;
    border-radius: 50%;
    margin-right: 15px;
    font-weight: 600;
}
.section-intro{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--secondary-color);
}
.section-txt{
    p{
        margin-bottom: 15px;
        font-size: 1.1rem;
    }   
    h2{
        color: var(--secondary-color);
        margin-bottom: 15px;
    }
}

img{
    margin-left: 10px;
    margin-right: 10px;
}
.img{
    position: relative;
    display: flex;
    justify-content: center;
    width: auto;
    height: 100px;
    margin-bottom: 40px;
    p{
        position: absolute;
        font-size: 1.0rem;
    }

}
.img::after{
    content: '点击放大图片';
    position: absolute;
    align-self: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.img.zoomed{
    height: 500px;
}
.img.img.zoomed::after{
    content: '点击缩小图片';
    position: absolute;
    top: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.footnote{
    margin-bottom: 30px;
    transform: translateY(-30px);
    font-size: 1.0rem;
    color: rgba(0, 0, 0, 0.8);
    justify-self: center;
}
.video-container{
    justify-content: center;
    display: flex;
    position: relative;
    width: auto;
    height: 100px;
    margin-bottom: 40px;
}
.video-container{
    .tobezoomed{
        z-index: 1001;
        position: absolute;
        align-self: center;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        visibility: visible;
    }
    .zoomed{
        z-index: 1001;
        position: absolute;
        top: 0;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        visibility: hidden;
    }
}
.video-container.zoomed{
    .tobezoomed{
        visibility: hidden;
    }
    .zoomed{
        visibility: visible;
    }
    height: 550px;
}
.zoomable-video{
    z-index: 1000;
    position: relative;
    visibility: visible;
}
.zoomable-video.zoomed{
    z-index: 1000;
    position: relative;
    visibility: visible;
}
.emoji{
    background-color: rgba(0, 0, 0, 1);
}
.emphasis{
    background: rgba(253, 78, 78, 0.5);
    color: black
}
.bottom{
    height: 100px;
}