body{
    margin: 0;
    padding: 0;
    display: block;
    height: 100vh;
}

.navbar{
    margin: 0;
    padding: 0;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;    /* 水平居中 */
    position: sticky;
    top: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background: white;
    z-index: 1000;
    height: auto;
}
.container#nav-container{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: auto;

    width: 90vw;
    min-width: 600px;
    position: relative;
}
.nav-brand{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    justify-self: start;
}
.nav-item{
    list-style: none;
}
.nav-brand .nav-item{
    height: 100%;
    min-height: 50px;
}
.nav-link.brand{
    text-decoration: none;
    color: black;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.nav-link.brand:hover{
    .item-txt.brand{
        color: #2b99e7;
    }
}
.item-txt.brand{
    padding: 10px 20px;
}
.item-txt.menu{
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    padding: 0 35px;
}
.nav-menu{
    display: flex;
    position: relative;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    justify-self: center;
}
.nav-menu .nav-item{
    display: flex;
    position: relative;
    align-items: center;     /* 垂直居中 */
    min-height: 50px;
    height: 100%;
}
.nav-link.menu{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    width: 100%;
    height: 100%;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    border-right:1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.nav-link.about{
    border-right: none;
}
.nav-link.menu:hover{
    .item-txt.menu{
        color: #2b99e7;        
    }
    background: rgba(0, 0, 0, 0.2);
}
.nav-link.menu::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background: #2b99e7;
    transition: color 0.3s ease;
    transform: translateX(-50%);
}
.nav-link.menu:hover::after{
    width: 100%;
}
.course.item-txt.menu{
    padding: 0 55px;
    display: flex;
    align-items: center;
}
.dropdown{
    position: relative;
}
.dropdown-content{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(255, 255, 255);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: all 0.3s ease;
    z-index: 999;
}
.nav-item.dropdown:hover .nav-link.dropdown{
    .item-txt.menu{
        color: #2b99e7;        
    }
    background: rgba(0, 0, 0, 0.2);
}
.nav-link.dropdown::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background: #2b99e7;
    transition: color 0.3s ease;
    transform: translateX(-50%);
}
.nav-item.dropdown:hover .nav-link.dropdown::after{
    width: 100%;
}
.nav-item.dropdown:hover .dropdown-content{
    opacity: 1;
    visibility: visible;
    transform: translateY(0); 
}
.icon-png.dropdown{
    background-image: url(./media/nav/dropdown.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 2px;
    margin-left: 2px;
    position: relative;
    transform: rotate(90deg);
    transition: all 0.3s ease;
}
.nav-item.dropdown:hover .icon-png.dropdown{
    transform: rotate(0deg);
}
.dropdown-item{
    display: flex;
    width: 100%;
    justify-content: center; /* 靠左 */
    align-items: center;     /* 垂直居中 */
    padding: 0;
    margin: 0;
    transition: all 0.2 ease;
}
.dropdown-link{
    display: block;
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    justify-content: center; /* 靠左 */
    align-items: center;     /* 垂直居中 */
    align-self: stretch;
    justify-self: auto;
    width: 100%;
    margin: 0;
    padding: 20px 15px ;
    transition: color 0.3s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.dropdown-item:last-child {
    border-bottom: none;
}
.dropdown-link:hover{
    background: rgba(0, 0, 0, 0.2);
    .dropdown-txt{
        padding-left: 20px;
        color: #2b99e7;
    }
}
.dropdown-txt{
    transition: padding 0.3s ease;
    margin: 0 10px;
}
.nav-more{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    justify-self: end;
    position: relative;
}
.nav-item.more{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: right;
    height: 100%;
}
.nav-link.more{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    width: 100%;
    height: 100%;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    justify-self: center;
    padding: 0 20px;
}
.nav-link.more:hover{
    background: rgba(0, 0, 0, 0.2);
    .item-txt.more{
        color: #2b99e7;        
    }
}
.nav-link.more::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background: #2b99e7;
    transition: color 0.3s ease;
    transform: translateX(-50%);
}
.nav-link.more:hover::after{
    width: 100%;
}